* 
{
	margin: 0;
	padding: 0;
}

body 
{
	font-family: 'Source Sans Pro', sans-serif;
    background: #FFFFFF;
    text-align: center;
    justify-content: center;
    font-size: 3vw;
}

.logo img
{
    height: 30vw;
    margin-bottom: -9vw;
    margin-top: 5vw;

}

.power img
{
    height: 2vw;

}

