.outputButton {
    width:486px;
    height:35px;
    border:none;
    background: #C62D3A;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer; 
    border:1px solid #AAA;
}

.outputButton:hover {
    background: #111;
  }

.structure {
    position:fixed;
    z-index:99;
}

.leftFilter {
    margin-left:-2px;
    width:100px;
    height:35px;
    border-left:1px solid #AAA;
    border-top:1px solid #AAA;
    border-bottom:1px solid #AAA;
    border-right:2px solid #28948B;
    background: #28948B;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer; 
}

.leftFilter:hover {
    background: #E43544;
  }

  .leftBFilter {
    margin-left:-2px;
    margin-top:0px;
    width:100px;
    height:35px;
    border-left:1px solid #AAA;
    border-top:1px solid #AAA;
    border-bottom:1px solid #AAA;
    border-right:2px solid #28948B;
    background: #28948B;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer; 
}

.rightFilter {
    width:100px;
    height:35px;
    border-left:2px solid #28948B;
    border-right:1px solid #AAA;
    border-top:1px solid #AAA;
    border-bottom:1px solid #AAA;
    background: #28948B;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer; 
}

.rightFilter:hover {
    background: #E43544;
  }

.inLine {
    padding-top: 15px;
    text-align:center;  
}

.outputButtonContainer {
    left:0px;
    margin-top:-35px;
    width:100%;
    text-align:center; 
    justify-content: center;
}