body, html {
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F4F4;
}

.card {
  width:30%;
  height:45%;
  display: block;
  margin: 60px auto;
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  transition: .25s;
  padding: 10px;
  display: inline-block;
  position: relative;
  min-height:600px;
  max-height:600px; 
}


.card:hover {
    box-shadow: 10px 5px 40px 20px darken(#341cac, 10%);
    cursor:pointer;
    width:350px;
}

.button-primary:hover {
    transform: translate(0, 0);
    cursor:pointer;
}

.recipeSearch {
  margin-top:-18px;
  transition:.25s;
}

.recipeSearch:hover {
  transform: translate(10px, 0);
}

.voteSect {
  float:right;
  margin-right:10px;
  margin-top:20px;
}

.upVoteBtn {
  width:30px;
  border:none;
  background: #013D3E;
  color: #fff;
  padding: 7px 7px;
  cursor: pointer; 
}

.upVoteBtn:hover {
  background: #C62D3A;
}

.downVoteBtn {
  width:30px;
  border:none;
  background: #013D3E;
  color: #fff;
  padding: 7px 7px;
  cursor: pointer; 
}

.downVoteBtn:hover {
  background: #C62D3A;
}

.vote {
  padding:7px;
}

.card-header {
  height: 50%;
  width: 100%;
  padding: 15px;
  width:100%;
  background-size:cover;
  color:#174949;
  float: top;
  border-top:1px solid #AAA;
  border-left:1px solid #AAA;
  border-right:1px solid #AAA;
  border-radius:15px 15px 0px 0px;
}

.card-header--title {
  text-transform: uppercase;
  font-weight:bold;
  margin: 0;
}

.fullBody
{
  height:100%;
}
.linkButton
{
  background-color:#28948B;
  border-radius:0px 0px 15px 15px;
}

h2 {
  font-family:'Raleway',sans-serif;
  letter-spacing:0.8px;
  color:#013D3E;
}

.card-body {
  padding: 15px;
  height: 45%;
  width: 100%;
  background-color:#FFF;
  border-top:5px solid #28948B;
  border-left:1px solid #AAA;
  border-right:1px solid #AAA;
  overflow-y: auto;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color:#013D3E;
}

.tagSect {
  width:100%;
  padding:10px 7px 10px 7px;
  color:#111;
  margin-bottom:-1px;
  border-top:2px solid #28948B;
  border-left:1px solid #AAA;
  border-right:1px solid #AAA;
  font-family:'Raleway',sans-serif;
  font-size:0.8vw;
  text-transform:uppercase;
  background-color:#FFF;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.descSect {
  float:left;
  text-align:left;
  margin-top:15px;
  width:75%;
  padding:0px 10px 0px 5px;
  border-right:1px dotted #111;
}

.button-primary {
  border: none;
  box-shadow: none;
  background-color:#C62D3A;
  color: #FFF;
  font-size: 15px;
  transition:.25s;
  width:100%;
  padding: 15px;
  border-bottom:1px solid #AAA;
  border-left:1px solid #AAA;
  border-right:1px solid #AAA;
  border-radius:0px 0px 15px 15px;
  
}

i{
  padding-right:8px;
}


.designer-link {
  color:#fff;
  text-align:center;
  font-size: 12px;
  text-decoration: none;
  display:block;
}